.about_container {
  background-color: #fffdec;
  .head {
    .about_img1 {
      position: relative;
      background: no-repeat center center;
      background-attachment: fixed;
      background-size: cover;
      text-align: center;
      height: 40.5em;
      padding: 0;
      width: 100%;
      opacity: 0.9;
    }
    .about_heading{
      position: absolute;
      top: 35%;

      left: 30%;
      color: white;
      font-size: 5rem;
    }
  }
  .section_1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 12rem;
    .section1_para {
      font-size: 16px;
      margin-top: 10px;
    }
  }
  .section_2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
  }
  .flexbox {
    margin: 2rem 0rem;
    margin-left: 180px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 60px;
    align-items: center;

    .box1 {
    }
    .box2 {
      .about_img2 {
        height: 540px;
        width: 580px;
      }
    }
    .box3 {
      .about_img3 {
        height: 540px;
        width: 580px;
      }
    }
  }
  .flexbox2{
    background-color: #0c3026;
    color: white;
    margin: 2rem 0rem;
    // margin-left: 180px;
    height: 440px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 60px;
    .box4{
      width: 50%;
        .about_img5 {
            height: 440px;
            width: 480px;
            margin-left: 160px;
          }

    }
    .box5{
       
        width: 50%;
        margin: auto;
    }

  }
  .flexbox3{
    // background-color: #0c3026;
    margin-top: 3rem;
    // margin-left: 180px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 60px;
    .box7{
       
      width: 50%;
      margin: auto;
  }
    .box6{
      width: 50%;
        .about_img5 {
            height: 520px;
            width: 535px;
            margin-left: 160px;
          }

    }
   

  }
}
