.header_container {
  border-bottom: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .header_intro {
    border-bottom: 2px solid black;
    padding: 1rem 0;
    display: grid;
    align-items: center;
    grid-template-columns: 0.5fr 1fr 0.5fr;

    .book {
    }

    .title {
      text-align: center;
      font-size: xx-large;
      width: 50rem;
    }
  }

  .nav {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    font-size: x-large;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 1rem;

    .navlink {
      padding: 0 1rem;
      text-decoration: none;
      color: black;

      &:hover {
        color: #00756c;
        text-shadow: 1px 1px 5px #00756b6b;
      }
    }
    .space {
      font-weight: bold;
    }
  }
}
