.slider_container{



    .slider_box{
        height: 60vh;

        .headline{
            height: 100%;
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: black;
            font-size: 2rem;
            margin: 0 5rem;
            font-family: 'Dancing Script', cursive;
            z-index: 1;
        }
    }

    
}

#img{
        height: -webkit-fill-available;
        width: 100%;
        object-fit:cover;
        opacity: .8;
        z-index: -5;
}