.slider_container{

    .car{
        position: absolute;
        // opacity: .5;
    }

    .slider_box{
        height: 60vh;
    }

    
}

#img{
        height: -webkit-fill-available;
        width: 100%;
        object-fit:cover;
}