*{
    margin: 0;
    padding: 0;
    @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
    // font-family: 'Lato', sans-serif;
    // font-family: neue-kabel, sans-serif;
    font-family: 'Comic Neue', cursive;


}